/* App css */
.App{
    padding: 20px 120px;
}
/* body component css */

.body{
    display: flex;
    justify-content: center;
    
}

.img{
    width: 499px;
    min-height: 250px;
}

h3 {
    padding-top: none;
    padding-left: 50px;
    padding-right: 28px;
}

.p2 {
    padding: 7px;
    padding-left: 46px;
}
